In [3]:
import numpy as np
a = np.array([65, 70, 120, 30])
w = np.array([0.4, 0.4, 0.2, 0.8])

np.dot(a, w)

102.0

In [4]:
import numpy as np
a = np.array([4, 5, -1])
w = np.array([2, 0, 1])

np.dot(a, w)

7

In [5]:
import pandas as pd
ut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})

In [6]:
ut_Paradise_DF.head(3)

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65

In [7]:
a=ut_Paradise_DF.values
a

array([[ 65,  50,   3,   5,   8,  37],
       [ 70,  52,   2,  12,   4,  40],
       [120,  80,   1,  10,   5,  65],
       [ 35,  33,   1,   3,  10,  20],
       [ 40,  33,   1,   6,  20,  16],
       [ 50,  44,   2,  13,  12,  35],
       [100,  80,   4,   8,   5,  60],
       [ 90,  65,   3,  21,   1,  50],
       [ 85,  65,   2,   5,  10,  40]], dtype=int64)

In [8]:
x=a[:, 1]
y=a[:, 5]
print(x)
print(y)
print(x-y)

[50 52 80 33 33 44 80 65 65]
[37 40 65 20 16 35 60 50 40]
[13 12 15 13 17  9 20 15 25]

In [9]:
rx=a[:,0]
print(rx)
print((rx*0.4))

[ 65  70 120  35  40  50 100  90  85]
[26. 28. 48. 14. 16. 20. 40. 36. 34.]

In [10]:
time_oneshou = np.array([10, 20, 30, 15, 5, 40, 20, 8, 20])
time_oneshou

array([10, 20, 30, 15,  5, 40, 20,  8, 20])

In [11]:
week=a[:, 4]
week

array([ 8,  4,  5, 10, 20, 12,  5,  1, 10], dtype=int64)

In [12]:
s=np.dot(time_oneshou, week)
print(s)

1348

In [13]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])

In [14]:
d=v*2+w*(-3)
print('linear combination:',d)

linear combination: [-3 14  3  4  2]

In [15]:
u_norm=(u)/np.linalg.norm(u)
u_norm

array([0.8660254 , 0.        , 0.28867513, 0.28867513, 0.28867513])

In [16]:
v_norm=(v)/np.linalg.norm(v)
v_norm

array([ 0.        ,  0.33333333,  0.        ,  0.66666667, -0.66666667])

In [17]:
w_norm=(w)/np.linalg.norm(w)
w_norm

array([ 0.21320072, -0.85280287, -0.21320072,  0.        , -0.42640143])

In [18]:
import numpy as np
A=np.array([[1, -5, 3], [2, 2, 1], [0, 3, 1], [2, 4, 12]])
A

array([[ 1, -5,  3],
       [ 2,  2,  1],
       [ 0,  3,  1],
       [ 2,  4, 12]])

In [19]:
A.shape

(4, 3)

In [20]:
print('a_23 =',A[1,2], 'a_32 =',A[2,1], 'a_33 =',A[2,2])

a_23 = 1 a_32 = 3 a_33 = 1

In [21]:
B=np.array([[1, -1, 2, 4, 0], [8, 2, 0, 5, 3], [0, 1, 2, 1, 2]])
B

array([[ 1, -1,  2,  4,  0],
       [ 8,  2,  0,  5,  3],
       [ 0,  1,  2,  1,  2]])

In [22]:
import numpy as np
A = np.matrix('1,-5,;2,2;0,3')
v=np.array([7,5,1])
A

matrix([[ 1, -5],
        [ 2,  2],
        [ 0,  3]])

In [23]:
A.T

matrix([[ 1,  2,  0],
        [-5,  2,  3]])

In [24]:
v.T

array([7, 5, 1])

In [25]:
import numpy as np

Husband_Income=np.array([100,220,140])
Wife_Income=np.array([150,200,130])
Lover_Income=np.array([90,80,100])

Husband_Сonsumption=np.array([50,50,60])
Wife_Сonsumption=np.array([100,80,140])
Lover_Сonsumption=np.array([100,20,140])

In [26]:
F=np.array([Husband_Income, Wife_Income, Lover_Income])
F

array([[100, 220, 140],
       [150, 200, 130],
       [ 90,  80, 100]])

In [27]:
R=np.array([Husband_Сonsumption, Wife_Сonsumption, Lover_Сonsumption])
R.T

array([[ 50, 100, 100],
       [ 50,  80,  20],
       [ 60, 140, 140]])

In [28]:
E=F-F*0.13
E

array([[ 87. , 191.4, 121.8],
       [130.5, 174. , 113.1],
       [ 78.3,  69.6,  87. ]])

In [29]:
E-R

array([[ 37. , 141.4,  61.8],
       [ 30.5,  94. , -26.9],
       [-21.7,  49.6, -53. ]])

In [30]:
import numpy as np
A = np.matrix('1,-5; 2,2; 0,3')
B = np.matrix('3,1,0; -1,0,2')
A

matrix([[ 1, -5],
        [ 2,  2],
        [ 0,  3]])

In [31]:
B

matrix([[ 3,  1,  0],
        [-1,  0,  2]])

In [32]:
np.dot(B,A)

matrix([[  5, -13],
        [ -1,  11]])

In [33]:
E=np.matrix('1,2,3; 4,1,1; 0,2,1')
b=np.matrix('1;2;-1')
E*b

matrix([[2],
        [5],
        [3]])

In [52]:
A=np.array([[5,-1,3,1,2] , [-2,8,5,-1,1]])
x=np.array([1,2,3,4,5])

In [53]:
A

array([[ 5, -1,  3,  1,  2],
       [-2,  8,  5, -1,  1]])

In [54]:
x

array([1, 2, 3, 4, 5])

In [56]:
A@x

array([26, 30])

In [57]:
A=np.array( [ [1,9,8,5] , [3,6,3,2] , [3,3,3,3], [0,2,5,9], [4,4,1,2] ] )
B=np.array( [ [1,-1,0,1,1] , [-2,0,2,-1,1] ] )

In [58]:
A

array([[1, 9, 8, 5],
       [3, 6, 3, 2],
       [3, 3, 3, 3],
       [0, 2, 5, 9],
       [4, 4, 1, 2]])

In [59]:
B

array([[ 1, -1,  0,  1,  1],
       [-2,  0,  2, -1,  1]])

In [61]:
B@A

array([[  2,   9,  11,  14],
       [  8, -10, -14, -11]])

In [62]:
x=np.array([1,2,1,0,4])
y=np.array([2,1,-1,1,0])
z=np.array([-1,1,-1,0,0])

In [1]:
import numpy as np
import pandas as pd
Count_DF = pd.DataFrame({'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
                                'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
                                'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
                              'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
                                'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
Price_DF = pd.DataFrame({'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
                                'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
                                'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
                              'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
                                'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
display(Price_DF)
display(Count_DF)

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

In [35]:
BC=np.array(Count_DF.loc['Борис'])
BP=np.array(Price_DF.loc['Борис'])
BP*BC

array([ 3.6, 52.5,  3. , 25. ,  6. ])

In [4]:
AC=np.array(Count_DF)
AP=np.array(Price_DF)
print(AP)
print(AC)

[[2.  1.5 1.  0.8 1. ]
 [1.8 2.5 1.  1.  1. ]
 [2.  2.  0.  0.5 2. ]
 [1.8 1.2 2.8 0.8 2. ]
 [2.5 3.5 2.  1.  1.5]
 [5.  5.  3.  2.  2.5]
 [1.1 1.  1.5 0.5 1.7]
 [4.5 4.  2.5 1.  2. ]]
[[10  5 12 15 10]
 [ 2 21  3 25  6]
 [12 12  0 30  4]
 [ 4  8 18 14  5]
 [ 6 25 27 25 18]
 [10  3  2 17 12]
 [22  1  4 25 20]
 [ 7  0 31 31 28]]

In [8]:
All=AP*AC
All

array([[20. ,  7.5, 12. , 12. , 10. ],
       [ 3.6, 52.5,  3. , 25. ,  6. ],
       [24. , 24. ,  0. , 15. ,  8. ],
       [ 7.2,  9.6, 50.4, 11.2, 10. ],
       [15. , 87.5, 54. , 25. , 27. ],
       [50. , 15. ,  6. , 34. , 30. ],
       [24.2,  1. ,  6. , 12.5, 34. ],
       [31.5,  0. , 77.5, 31. , 56. ]])

In [2]:
com=np.array([0.2, 0.2, 0.3, 0.1, 0.1])
com

array([0.2, 0.2, 0.3, 0.1, 0.1])

In [80]:
e=com*AC
e

array([[2. , 1. , 3.6, 1.5, 1. ],
       [0.4, 4.2, 0.9, 2.5, 0.6],
       [2.4, 2.4, 0. , 3. , 0.4],
       [0.8, 1.6, 5.4, 1.4, 0.5],
       [1.2, 5. , 8.1, 2.5, 1.8],
       [2. , 0.6, 0.6, 1.7, 1.2],
       [4.4, 0.2, 1.2, 2.5, 2. ],
       [1.4, 0. , 9.3, 3.1, 2.8]])

In [100]:
e[0].sum()

9.1

In [7]:
sum((AC*AP)*com)

array([35.1 , 39.42, 62.67, 16.57, 18.1 ])

In [5]:
ProfitS=(AC*AP)@com
ProfitS

array([11.3 , 15.22, 11.9 , 20.6 , 41.9 , 21.2 , 11.49, 38.25])

In [11]:
sum(All[0]*com)

11.3

In [17]:
sum(All.T)

array([ 61.5,  90.1,  71. ,  88.4, 208.5, 135. ,  77.7, 196. ])

In [18]:
sum(All.T)-ProfitS

array([ 50.2 ,  74.88,  59.1 ,  67.8 , 166.6 , 113.8 ,  66.21, 157.75])

In [32]:
import numpy as np
A=np.matrix('1,2,3; 4,5,6; 7,8,10')
A

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8, 10]])

In [33]:
np.linalg.inv(A)

matrix([[-0.66666667, -1.33333333,  1.        ],
        [-0.66666667,  3.66666667, -2.        ],
        [ 1.        , -2.        ,  1.        ]])

In [34]:
A.I

matrix([[-0.66666667, -1.33333333,  1.        ],
        [-0.66666667,  3.66666667, -2.        ],
        [ 1.        , -2.        ,  1.        ]])

In [21]:
np.linalg.inv(np.matrix('1,2; 2,4'))

LinAlgError: Singular matrix

In [24]:
W=np.matrix('1,2,3; 4,5,6; 7,8,9')
W

matrix([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]])

In [25]:
np.linalg.det(W)

-9.51619735392994e-16

In [26]:
np.linalg.det(np.linalg.inv(np.matrix('2,0,0; 0,1,0; 0,0,4')))

0.12500000000000003

In [27]:
import numpy as np
v1=np.array([1,2,3,1])
v2=np.array([4,5,6,1])
v3=np.array([7,8,9,1])

A=np.array([v1,v2,v3]).T
A

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9],
       [1, 1, 1]])

In [28]:
np.linalg.matrix_rank(A)

2

In [30]:
W.I

matrix([[ 3.15251974e+15, -6.30503948e+15,  3.15251974e+15],
        [-6.30503948e+15,  1.26100790e+16, -6.30503948e+15],
        [ 3.15251974e+15, -6.30503948e+15,  3.15251974e+15]])

In [35]:
A=np.array( [[ 8 , 6 ,11],[ 7 , 5 , 9],[ 6 ,10,  6]])
A

array([[ 8,  6, 11],
       [ 7,  5,  9],
       [ 6, 10,  6]])

In [37]:
np.linalg.inv(A)

array([[-1.875  ,  2.3125 , -0.03125],
       [ 0.375  , -0.5625 ,  0.15625],
       [ 1.25   , -1.375  , -0.0625 ]])

In [39]:
v1=np.array([ 9, 10,  7,  7,  9])
v2=np.array([2, 0, 5, 1, 4])
v3=np.array([4, 0, 0, 4, 1])
v4=np.array([ 3, -4,  3, -1, -4])
E=np.array([v1, v2, v3 , v4])
E

array([[ 9, 10,  7,  7,  9],
       [ 2,  0,  5,  1,  4],
       [ 4,  0,  0,  4,  1],
       [ 3, -4,  3, -1, -4]])

In [40]:
np.linalg.matrix_rank(E)

4

In [42]:
Q=E@E.T
Q

array([[360,  96,  73, -35],
       [ 96,  46,  16,   4],
       [ 73,  16,  33,   4],
       [-35,   4,   4,  51]])

In [44]:
np.linalg.det(Q)

3716647.9999999995

In [46]:
np.linalg.inv(Q)

array([[ 0.01711488, -0.02798543, -0.02623063,  0.01599775],
       [-0.02798543,  0.071967  ,  0.03031441, -0.02722776],
       [-0.02623063,  0.03031441,  0.07683106, -0.02640498],
       [ 0.01599775, -0.02722776, -0.02640498,  0.03479318]])